.app-container {
  width: 100%;
  height: 100%;
}

.app-sidenav {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  width: 300px;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.map-frame {
  border: 0 solid black;
  height: 100%;
}

#map {
  height: 100%;
}
